<h1>Welcome Dude</h1> 

<%= link_to 'My Blog', {controller: 'articles'}, class:"big button" %> <!-- the 'link_to' method will turn the 'My Blog' text into a link: it will link to the articles controller -->

